<h3 class="text-center-left" style="margin-top:25px">
<br/><br/><br/>


    <div class="container">
        <div class="page-header">


            <div class="row" style="margin-top:-50px;margin-bottom:20px">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <h2 class="text-center">
                        <span id="costcuttingtitle">
                        HOW DO WE COST CUT?
                        </span>
                    </h2>
                    <h4 class="text-center"><span class="glyphicon glyphicon-eur"> </span> <span
                            id="costcuttingfree">Initial consultation is free
                        of charge!</span>
                    </h4>
                    <h4 class="text-center"><span class="glyphicon glyphicon-chevron-down"> </span></h4>

                </div>
                <div class="col-sm-4">
                </div>
            </div>


        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="glyphicon glyphicon-hand-left"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading text-center">
                        <!--                        <h5 class="timeline-title">1- Initial Meeting/Evaluation</h5>-->
                        <p>
                            <!--                                <small class="text-muted"><i class="glyphicon glyphicon-pencil"></i> 11 hours ago via-->
                            <!--                                    Twitter-->
                            <!--                                </small>-->
                        </p>
                    </div>
                    <div class="timeline-body text-center">
                        <br>

                        <h4 id="costcuttingstep1">
                            1- We meet and go through your cloud set up and infra components.
                        </h4>

                        </br>
                        <!--                        <h4 class="text-center"><span class="glyphicon glyphicon-ok"> </span> Free!-->
                        <!--                        </h4>-->


                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge info"><i class="glyphicon glyphicon-hand-right"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <!--                        <h4 class="timeline-title text-center">2- Solution Preparation</h4>-->
                    </div>
                    <div class="timeline-body text-center">
                        </br>
                        <p>  <h4 id="costcuttingstep2">2- We prepare a proposal with potential savings</h4></p>

                        </br>
                        <!--                        <h4 class="text-center"><span class="glyphicon glyphicon-ok"> </span> Free!-->
                        <!--                        </h4>-->
                    </div>
                </div>
            </li>
            <li>

                <div class="timeline-badge "><i class="glyphicon glyphicon-hand-left"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <!--                        <h4 class="timeline-title text-center">3- Presentation and Agreement</h4>-->
                    </div>
                    <div class="timeline-body text-center">
                        </br>
                        <p>
                        <h4 id="homeTL3">3- You provide us a technical user</h4>
                        </p>
                        </br>

<!--                        <h4 class="text-center"><span class="glyphicon glyphicon-ok"> </span> <span id="homeTL44">Fixed price! </span>-->
<!--                        </h4>-->
                        <!--                        <hr>-->
                        <!--                        <div class="btn-group">-->
                        <!--                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle"-->
                        <!--                                    data-toggle="dropdown">-->
                        <!--                                <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>-->
                        <!--                            </button>-->
                        <!--                            <ul class="dropdown-menu" role="menu">-->
                        <!--                                <li><a href="#">Action</a></li>-->
                        <!--                                <li><a href="#">Another action</a></li>-->
                        <!--                                <li><a href="#">Something else here</a></li>-->
                        <!--                                <li class="divider"></li>-->
                        <!--                                <li><a href="#">Separated link</a></li>-->
                        <!--                            </ul>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge info"><i class="glyphicon glyphicon-hand-right"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <!--                        <h4 class="timeline-title text-center">4- Implementation/Handover</h4>-->
                    </div>
                    <div class="timeline-body">


                        <h4 class="text-center"><br class="text-center" id="homeTL4">4- We perform the changes & lower the agreed costs</br></br>
                        </h4>


<!--                        <h4><span class="glyphicon glyphicon-ok"/> <span id="homeTL41">We can assign short/long term experts</span>  </br>-->
<!--                            <span class="glyphicon glyphicon-ok"/> <span id="homeTL42">We do project management and guidence</span> </br>-->
<!--                            <span class="glyphicon glyphicon-ok"/> <span id="homeTL43">Implement complete solution & handover</span> </br>-->
<!--                        </h4>-->

<!--                        </br>-->
<!--                        <h4 class="text-center"><span class="glyphicon glyphicon-ok"> </span> <span id="homeTL45">Custom offer!</span>-->
<!--                        </h4>-->
                    </div>
                </div>
            </li>
        </ul>
    </div>


</h3>

<style>
    .timeline {
        list-style: none;
        padding: 20px 0 20px;
        position: relative;
    }

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li:before,
    .timeline > li:after {
        content: " ";
        display: table;
    }

    .timeline > li:after {
        clear: both;
    }

    .timeline > li > .timeline-panel {
        width: 50%;
        float: left;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        padding: 20px;
        position: relative;
        -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    }

    .timeline > li.timeline-inverted + li:not(.timeline-inverted),
    .timeline > li:not(.timeline-inverted) + li.timeline-inverted {
        margin-top: -60px;
    }

    .timeline > li:not(.timeline-inverted) {
        padding-right: 90px;
    }

    .timeline > li.timeline-inverted {
        padding-left: 90px;
    }

    .timeline > li > .timeline-panel:before {
        position: absolute;
        top: 26px;
        right: -15px;
        display: inline-block;
        border-top: 15px solid transparent;
        border-left: 15px solid #ccc;
        border-right: 0 solid #ccc;
        border-bottom: 15px solid transparent;
        content: " ";
    }

    .timeline > li > .timeline-panel:after {
        position: absolute;
        top: 27px;
        right: -14px;
        display: inline-block;
        border-top: 14px solid transparent;
        border-left: 14px solid #fff;
        border-right: 0 solid #fff;
        border-bottom: 14px solid transparent;
        content: " ";
    }

    .timeline > li > .timeline-badge {
        color: #fff;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -25px;
        background-color: #999999;
        z-index: 100;
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }

    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
    }

    .timeline > li.timeline-inverted > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    .timeline > li.timeline-inverted > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }

    .timeline-badge.primary {
        background-color: #2e6da4 !important;
    }

    .timeline-badge.success {
        background-color: #3f903f !important;
    }

    .timeline-badge.warning {
        background-color: #f0ad4e !important;
    }

    .timeline-badge.danger {
        background-color: #d9534f !important;
    }

    .timeline-badge.info {
        background-color: #5bc0de !important;
    }

    .timeline-title {
        margin-top: 0;
        color: inherit;
    }

    .timeline-body > p,
    .timeline-body > ul {
        margin-bottom: 0;
    }

    .timeline-body > p + p {
        margin-top: 5px;
    }


    body {
        margin-top: 20px;
    }

    .single-team .inner {
        text-align: center;
        margin-bottom: 35px;
        border: 1px solid #e5eaf0;
        padding: 5px 5px 0px;
    }

    .single-team .inner .team-img {
        position: relative;
    }

    .single-team .inner .team-img img {
        width: 100%;
    }

    .single-team .inner .team-img::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .single-team .inner .team-img:hover::after {
        opacity: 0.4;
    }

    .single-team .inner .team-content {
        padding: 22px 0px 0px;
    }

    .single-team .inner .team-content h4 {
        font-size: 18px;
        font-weight: 400;
    }

    .single-team .inner .team-content h5 {
        font-weight: 300;
        font-size: 16px;
        letter-spacing: 0.5px;
        color: #7d91aa;
    }

    .single-team .inner .team-content a {
        display: inline-block;
        padding: 2px;
        margin: 0 3px;
        font-size: 16px;
    }

    .team-social {
        background: #f3f6fa;
        width: 50%;
        padding-top: 4px;
        margin: auto;
        border-radius: 15px 15px 0px 0px;
        margin-top: 17px;
    }


</style>